In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

df=CSV.csv=original file from CFS 
df5=Intrastate starts here
df6=Interstate data starts here
Inter_w_dummy=To save time start from here for INTERSTATE

In [3]:
inter_df=pd.read_csv("interstate.csv")

In [5]:
inter_df

,Unnamed: 0,SHIPMT_ID,ORIG_STATE,ORIG_CFS_AREA,DEST_STATE,DEST_CFS_AREA,NAICS,QUARTER,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,HAZMAT,ORIG,DEST
0,1608,14414,49,49-482,6,06-260,4541,3,14,14,1,808,N,N,UT CFS,CA CFS
1,1612,372691,49,49-482,6,06-260,4541,2,14,19,1,803,N,N,UT CFS,CA CFS
2,1613,503095,49,49-482,6,06-260,4239,1,14,697,11,846,N,N,UT CFS,CA CFS
3,1615,536606,49,49-482,6,06-260,4541,4,14,7,1,808,N,N,UT CFS,CA CFS
4,1617,619266,49,49-482,6,06-260,339,1,14,599,59,838,N,N,UT CFS,CA CFS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004836,5965542,2913737,50,50-99999,22,22-324,4237,4,14,149,33,1765,N,N,VermontRFS,LA CFS
2004837,5965543,4021325,50,50-99999,22,22-324,4541,2,14,31,1,1744,N,N,VermontRFS,LA CFS
2004838,5965545,451737,13,13-496,22,22-324,339,2,14,106,1,801,N,N,GA CFS,LA CFS
2004839,5965548,3286952,13,13-496,22,22-324,314,4,14,131,1,803,N,N,GA CFS,LA CFS
2004840,5965551,5658578,13,13-496,22,22-324,4541,1,14,28,2,811,N,N,GA CFS,LA CFS

In [21]:
df_SAS=inter_df.iloc[:,[6,7,8,9,10,11,12,13]]

In [9]:
df_SAS

,NAICS,QUARTER,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,HAZMAT
0,4541,3,14,14,1,808,N,N
1,4541,2,14,19,1,803,N,N
2,4239,1,14,697,11,846,N,N
3,4541,4,14,7,1,808,N,N
4,339,1,14,599,59,838,N,N
...,...,...,...,...,...,...,...,...
2004836,4237,4,14,149,33,1765,N,N
2004837,4541,2,14,31,1,1744,N,N
2004838,339,2,14,106,1,801,N,N
2004839,314,4,14,131,1,803,N,N
2004840,4541,1,14,28,2,811,N,N

In [22]:
df_SAS.NAICS=inter_df.NAICS.astype(str)
df_SAS.QUARTER=inter_df.QUARTER.astype(str)
df_SAS.MODE=inter_df.MODE.astype(str)

df_SAS=df_SAS[df_SAS['MODE']!="2"]

df_SAS=df_SAS[df_SAS['MODE']!="12"]

C:\Users\Moon\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [30]:
df_SAS['TEMP_CNTR_YN']=df_SAS.apply(lambda r:1 if r.TEMP_CNTL_YN=="Y" else 0, axis=1) 
df_SAS['HAZMAT']=df_SAS.apply(lambda r:1 if (r.HAZMAT=="P" or r.HAZMAT=="H") else 0, axis=1)

In [26]:

df_SAS['MODE']=df_SAS.apply(lambda r:1 if (r.MODE=="3" or r.MODE=="4" or r.MODE=="5") else 2 if (r.MODE=="6")
                             else 4 if (r.MODE=="11") else 5 if (r.MODE=="13" or r.MODE=="14" or  r.MODE=="15" or r.MODE=="16" or r.MODE=="17" or
                                                  r.MODE=="18" or r.MODE=="20") else 3 if (r.MODE=="10") else "",axis=1)

df_SAS['NAICS']=df_SAS.apply(lambda r:1 if r.NAICS=="212" else 2 if (r.NAICS[0]=="3" and r.NAICS[1]=="1") or
                                         (r.NAICS[0]=="3" and r.NAICS[1]=="2") or
                                         (r.NAICS[0]=="3" and r.NAICS[1]=="3")
                             else 3 if (r.NAICS[0]=="4" and r.NAICS[1]=="2")
                             else 4 if (r.NAICS[0]=="4" and r.NAICS[1]=="5")
                             else 5 if (r.NAICS[0]=="4" and r.NAICS[1]=="9")
                             else 6 if (r.NAICS[0]=="5" and r.NAICS[1]=="1")
                             else 7 if (r.NAICS[0]=="5" and r.NAICS[1]=="5")
                             else "",axis=1)

In [31]:
#splitting into train and validation for parameter selection
from sklearn.model_selection import train_test_split
df_SAS_train, df_SAS_test = train_test_split(df_SAS, test_size = 0.3, random_state = 0)

In [34]:
df_SAS.drop(columns="TEMP_CNTL_YN")

,NAICS,QUARTER,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_ROUTED,HAZMAT,TEMP_CNTR_YN
0,4,3,5,14,1,808,0,0
1,4,2,5,19,1,803,0,0
2,3,1,5,697,11,846,0,0
3,4,4,5,7,1,808,0,0
4,2,1,5,599,59,838,0,0
...,...,...,...,...,...,...,...,...
2004836,3,4,5,149,33,1765,0,0
2004837,4,2,5,31,1,1744,0,0
2004838,2,2,5,106,1,801,0,0
2004839,2,4,5,131,1,803,0,0
2004840,4,1,5,28,2,811,0,0

In [38]:
df_SAS_train.drop(columns="TEMP_CNTL_YN",inplace=True)
df_SAS_test.drop(columns="TEMP_CNTL_YN",inplace=True)

C:\Users\Moon\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [44]:
df_SAS_train.columns

Index(['NAICS', 'QUARTER', 'MODE', 'SHIPMT_VALUE', 'SHIPMT_WGHT',
       'SHIPMT_DIST_ROUTED', 'HAZMAT', 'TEMP_CNTR_YN'],
      dtype='object')

In [41]:
df_SAS_train.to_csv("df_SAS_train.csv")

In [43]:
df_SAS_test.to_csv("df_SAS_test.csv")

In [6]:
# inter_df=pd.read_csv("interstate.csv")

# inter_df['MODE'].value_counts()

# inter_df.NAICS=inter_df.NAICS.astype(str)
# inter_df.QUARTER=inter_df.QUARTER.astype(str)
# inter_df.MODE=inter_df.MODE.astype(str)

# inter_df=inter_df[inter_df['MODE']!="2"]

# inter_df=inter_df[inter_df['MODE']!="12"]

# inter_df['Truck']=inter_df.apply(lambda r:1 if (r.MODE=="3" or r.MODE=="4" or r.MODE=="5") else 0,axis=1)
# inter_df['Rail']=inter_df.apply(lambda r:1 if (r.MODE=="6") else 0,axis=1)
# inter_df['Water']=inter_df.apply(lambda r:1 if (r.MODE=="10") else 0,axis=1)
# inter_df['Air']=inter_df.apply(lambda r:1 if (r.MODE=="11") else 0,axis=1)
# inter_df['Multimode']=inter_df.apply(lambda r:1 if (r.MODE=="13" or r.MODE=="14" or  r.MODE=="15" or r.MODE=="16" or r.MODE=="17" or
#                                                  r.MODE=="18" or r.MODE=="20") else 0,axis=1)

# inter_df['NAICS(Mining)']=inter_df.apply(lambda r:1 if r.NAICS=="212" else 0,axis=1)

# inter_df['NAICS(Manufac.)']=inter_df.apply(lambda r:1 if (r.NAICS[0]=="3" and r.NAICS[1]=="1") or
#                                          (r.NAICS[0]=="3" and r.NAICS[1]=="2") or
#                                          (r.NAICS[0]=="3" and r.NAICS[1]=="3") else 0,axis=1)

# inter_df['NAICS(Whlsale)']=inter_df.apply(lambda r:1 if (r.NAICS[0]=="4" and r.NAICS[1]=="2") else 0,axis=1)

# inter_df['NAICS(Retl_trade)']=inter_df.apply(lambda r:1 if (r.NAICS[0]=="4" and r.NAICS[1]=="5") else 0,axis=1)
# inter_df['NAICS(Transprt_wrehous)']=inter_df.apply(lambda r:1 if (r.NAICS[0]=="4" and r.NAICS[1]=="9") else 0,axis=1)
# inter_df['NAICS(Informatn)']=inter_df.apply(lambda r:1 if (r.NAICS[0]=="5" and r.NAICS[1]=="1") else 0,axis=1)
# inter_df['NAICS(Pro_sci_tech_servc)']=inter_df.apply(lambda r:1 if (r.NAICS[0]=="5" and r.NAICS[1]=="5") else 0,axis=1)

# inter_df['first3months']=inter_df.apply(lambda r:1 if r.QUARTER[0]=="1" else 0,axis=1)
# inter_df['second3months']=inter_df.apply(lambda r:1 if r.QUARTER[0]=="2" else 0,axis=1)
# inter_df['third3months']=inter_df.apply(lambda r:1 if r.QUARTER[0]=="3" else 0,axis=1)
# inter_df['last3months)']=inter_df.apply(lambda r:1 if r.QUARTER[0]=="4" else 0,axis=1)


# inter_df['Temp_contrl']=inter_df.apply(lambda r:1 if r.TEMP_CNTL_YN=="Y" else 0, axis=1) 
# inter_df['Hazard']=inter_df.apply(lambda r:1 if (r.HAZMAT=="P" or r.HAZMAT=="H") else 0, axis=1)

# inter_df.to_csv("Inter_w_dummy.csv")

KeyboardInterrupt: